body {
    font-family: 'Lato', sans-serif;
    text-transform: lowercase;
}

a:hover {
  text-decoration: none;
}

a:link, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: #FFF;
}

@font-face {
  font-family: 'cipherIconFont';
  src: url("fonts/icomoon.eot?p7vee9");
  src: url("fonts/icomoon.eot?#iefixp7vee9") format("embedded-opentype"), url("fonts/icomoon.ttf?p7vee9") format("truetype"), url("fonts/icomoon.woff?p7vee9") format("woff"), url("fonts/icomoon.svg?p7vee9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'cipherIconFont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

header {
  transition: transform 1s;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  padding: 15px 25px;
}

header a {
  margin-right: 10px;
  color: #FFF;
}

header a:hover {
  color: #FFF;
  text-decoration: none;
  transform: translate(20px, 20px);
}

.row {
    margin-right: 0;
}

.center {
    text-align: center;
}

.right {
  text-align: right;
}

.grow {
  transition: transform 0.5s ease;

}

.grow:hover {
  transform: translate(0px, 9px);
}

.grow-small {
  transition: transform 0.5s ease;

}

.grow-small:hover {
  transform: translate(0px, 6px);
}

.grow-small:focus {
  outline:none;
}

#buy {
    position: absolute;
    z-index: 100;
    font-family: "Lato", sans-serif;
    margin-left: auto;
    margin-right: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 350px;
    height: 90px;
    text-align: center;
    padding: 15px 60px 15px 60px;
    /*transition: font-size 0.3s ease;*/
    font-size: 40px;
    /*transition: background-color 0.5s ease;*/
    background-color: #95D7A1;
    color: #FFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
     margin: auto;
     opacity: 0.87;
    -webkit-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transform: scale(1, 1)
}

#buy:hover {
    transform: scale(1.1, 1.1)
}


#background {
    background: url("images/bonfire.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 640px;
}

#landing-btn {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    margin-top: 20px;
    margin-right: 17px;

    background-color: #95D7A1;
    color: #FFF;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
}

.logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 110px;
  z-index: 2;
  margin-top: 8px;
}

.landing {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    font-family: 'Montserrat', sans-serif;
    font-weight:700;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 130px;

    outline: 2px solid #FFF;
    outline-offset: 8px;

    background-color: #FFF;
    width: 450px;
}

.landing h1 {
  font-size: 65px;
  color: #E8ADC6;
  opacity: 0.80;
  margin-bottom: 5px;

}

.landing p {
    font-family: 'Lato', sans-serif;
    font-size: 14x;
    color: #7F7E7E;
}

.year {
    font-size:25px;
}

#details {
    text-align: center;
    background-color: #83bbde;
    color: #fff;
    padding: 13px;
}

#details h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

#details h4 .location {
  color: #fff;
  margin-left: 40px;
}

#maplink {
    transition: color 0.25s ease;
    color: #FDD27B;
    text-decoration: none;
    border-bottom: 1px solid rgba(155, 160, 166, 0.2)
}

#maplink:hover {
    transition: color 0.25s ease;
    color: #FFF;
}

.tech-slideshow {
  height: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.learn {
    color: #FFF;
    margin-top: 125px;
    margin-bottom: 125px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 50px;
    /*border-bottom: 1px solid rgba(155, 160, 166, 0.2);*/
}

.speakers-bg {
    background-color: #F9BB3C;
    padding-bottom: 75px;
}

#speakers {
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
}

.speaker {
    margin-bottom: 90px;
    /*-moz-box-shadow: 0 10px 150px rgba(122, 125, 129, 0.4);*/
    /*-webkit-box-shadow: 0 10px 150px rgba(122, 125, 129, 0.4);*/
    /*box-shadow: 0 10px 150px rgba(122, 125, 129, 0.4);*/
}

.meta {
    margin-top: 7%;
}

.work {
    font-size:15px;
}

.speaker.amandah {
    background-color:#5371C9;
}

.speaker.swift {
    background-color:#DF4E5E;
}

.speaker.robleh {
    background-color:#2AB27B;
}

.speaker h4 {
    font-family: 'Droid Serif', serif;
    font-weight:700;
    color: #e5dadc;
    font-size: 50px;
}

.speaker p {
    font-family: 'Lato', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    font-size: 17px;
}

.speaker .image {
    margin-top: 5%;
    margin-bottom: 4%;
}

.speaker img {
    width:250px;
}

.wyg {
    background-color: #776EA7;
    padding-top: 20px;
    padding-bottom: 120px;
}

.wyg p {
    color: rgba(255, 255, 255, 0.75);
    font-size:16px;
}

.wyg h1 {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}

#wyg-title {
    width: 100%;
    border: none;
    margin-bottom: 70px;
    margin-top: 70px;
    margin-left: 25px;
}

.faq #wyg-title {
  margin-bottom: 20px;
}

#wyg-p {
  margin-left: 25px;
  color: rgba(255, 255, 255, 0.75);
  font-size:18px;
  margin-right: 75px;
  margin-bottom: 50px;

}

#item1 {
    border-right: dashed 1px rgba(255, 255, 255, 0.6);
    height: 250px;
}

#item2 {
    text-align: right;
    border-left: dashed 1px rgba(255, 255, 255, 0.6);
    height: 250px;
}

#wyg-row {
  border-top: dashed 1px rgba(255, 255, 255, 0.6);
}

#faq-row {
  margin-bottom: 17px;
}

.faq {
  background-color: #d18bab;
  color: white;
  padding-bottom: 87px;
}

.faq p {
  color: rgba(255, 255, 255, 0.75);
  font-size:16px;
}

.faq h1 {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}

.faq h4 {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}

.question {
  margin-top: 10px;
  margin-left: 10px;
}

.questionright {
  margin-top: 10px;
  margin-right: 10px;
}

#footer {
    background-color: #F8D487;
    text-align: center;
    border-top: solid 1px #F8D487;
    padding-top: 40px;
}

#footer img {
    width: 200px;
    margin-bottom: 30px;
}

#cipher {
  margin-right: 30px;

}

#footer i {
    font-size: 30px;
    margin-right: 13px;
    margin-bottom: 25px;
    color: #F9BB3C;
}

#footer i:hover {
    transition: color 0.25s ease;
    color: #FFF;
}

#way-up {
    background-color: #FCC95B;
    color: #FFF;
    border: none;
    padding: 5px 25px;
    border-radius: 3px;
    margin-bottom: 35px;
    margin-top: 0px;
}

#buynow {
  display: block;
}


/* Media Queries */
@media screen and (min-width: 1440px) {

  #background {
      height: 840px;
  }

}

@media(max-width: 1439px) {

  #background {
      height: 640px;
  }

}

@media(max-width: 991px) {
  #item1 {
      border-right: none;

  }

  #item2 {
    border-left: none;

  }

  .questionright {
    margin-left: 10px;
  }

  #buynow {
    display: none;
  }

}

@media (max-width: 600px) {

  #background {
      height: 400px;
  }

  .logo {
    width: 80px;
    margin-top: 25px;

  }

  .landing {
      width: 350px;
      margin-top: 120px;
  }

  .landing h1 {
    font-size: 45px;
    margin-bottom: 5px;

  }

  .landing p {
      font-size: 12x;
  }

  #landing-btn {
      position: static;
      z-index: 2;
      margin-left: auto;
      margin-right: auto;
      margin-top: 270px;
  }

  header {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 330px;
  }

  header a {
    margin-right: 10px;
    color: #FFF;
  }

  #item1 {
    margin-bottom: 70px;
  }

}

@media (max-width: 320px) {

  #item1 {
    margin-bottom: 125px;
  }

  .landing {
      width:225px;
  }

  .landing h1 {
    font-size: 35px;
  }

  .landing p {
    font-size: 12px;
  }

  #details h4 {
    font-size: 13px;
  }

}

video {
  width: 100%;
}
