body {
    font-family: 'Lato', sans-serif;
    text-transform: lowercase;
}
@font-face {
  font-family: 'cipherIconFont';
  src: url("fonts/icomoon.eot?p7vee9");
  src: url("fonts/icomoon.eot?#iefixp7vee9") format("embedded-opentype"), url("fonts/icomoon.ttf?p7vee9") format("truetype"), url("fonts/icomoon.woff?p7vee9") format("woff"), url("fonts/icomoon.svg?p7vee9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'cipherIconFont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.row {
    margin-right: 0;
}

.center {
    text-align: center;
}

#buy {
    position: absolute;
    z-index: 100;
    font-family: "Lato", sans-serif;
    margin-left: auto;
    margin-right: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 310px;
    height: 90px;
    text-align: center;
    padding: 15px 60px 15px 60px;
    /*transition: font-size 0.3s ease;*/
    font-size: 40px;
    /*transition: background-color 0.5s ease;*/
    background-color: #DF4E5E;
    color: #FFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
     margin: auto;
     opacity: 0.80;
    -webkit-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transform: scale(1, 1)
}

#buy:hover {
    transform: scale(1.1, 1.1)
}


#background {
    background: url("images/bonfire.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 640px;
    height: 640px;
}

#landing-btn {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    margin-top: 20px;
    margin-right: 10px;


    background-color: #95D7A1;
    color: #FFF;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
}

#landing-btn:hover {
    background-color: #98CEEF;
    -webkit-transition: background-color 0.5s ease-in;
    -moz-transition: background-color 0.5s ease-in;
    -o-transition: background-color 0.5s ease-in;
    transition: background-color 0.5s ease-in;
}

.logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 110px;
  z-index: 2;
  margin-top: 8px;

}

.landing {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    font-family: 'Montserrat', sans-serif;
    font-weight:700;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 130px;

    outline: 2px solid #FFF;
    outline-offset: 8px;

    background-color: #FFF;
    width: 450px;
}

.landing h1 {
  font-size: 65px;
  color: #E8ADC6;
  opacity: 0.80;
  margin-bottom: 5px;

}

.landing p {
    font-family: 'Lato', sans-serif;
    font-size: 14x;
    color: #7F7E7E;
}

.year {
    font-size:25px;
}

#details {
    text-align: center;
    background-color: #98CEEF;
    color: #fff;
    padding: 10px;
}

#details h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}

#details h4 .location {
  color: #fff;
  margin-left: 40px;
}


#maplink {
    transition: color 0.25s ease;
    color: #FDD27B;
    text-decoration: none;
    border-bottom: 1px solid rgba(155, 160, 166, 0.2)
}

#maplink:hover {
    transition: color 0.25s ease;
    color: #FFF;
}

.tech-slideshow {
  height: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.learn {
    color: #FFF;
    margin-top: 125px;
    margin-bottom: 125px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 50px;
    /*border-bottom: 1px solid rgba(155, 160, 166, 0.2);*/
    margin-left: auto;
    margin-right: auto;
}

.speakers-bg {
    background-color: #F9BB3C;
    padding-bottom: 75px;
}

#speakers {
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
}

.speaker {
    margin-bottom: 90px;
    /*-moz-box-shadow: 0 10px 150px rgba(122, 125, 129, 0.4);*/
    /*-webkit-box-shadow: 0 10px 150px rgba(122, 125, 129, 0.4);*/
    /*box-shadow: 0 10px 150px rgba(122, 125, 129, 0.4);*/
}

.meta {
    margin-top: 7%;
}

.work {
    font-size:15px;
}

.speaker.amandah {
    background-color:#5371C9;
}

.speaker.swift {
    background-color:#DF4E5E;
}

.speaker.robleh {
    background-color:#2AB27B;
}

.speaker h4 {
    font-family: 'Droid Serif', serif;
    font-weight:700;
    color: #e5dadc;
    font-size: 50px;
}

.speaker p {
    font-family: 'Lato', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    font-size: 17px;
}

.speaker .image {
    margin-top: 5%;
    margin-bottom: 4%;
}

.speaker img {
    width:250px;
}

.wyg {
    background-color: #282249;
    padding-top: 20px;
    padding-bottom: 150px;
    margin-top: -10px;
}

.wyg p {
    color: rgba(255, 255, 255, 0.6);
    font-size:17px;
}

.wyg h1 {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}

#wyg-title {
    width: 100%;
    border: none;
    margin-bottom: 120px;
    margin-top: 70px;
}

#item1 {
    border-right: dashed 1px grey;
    height: 250px;

}

#item2 {
    text-align: right;
    border-left: dashed 1px grey;
    height: 250px;

}


#footer {
    background-color: #2C3840;
    text-align: center;
    border-top: solid 1px #2C3840;
    padding-top: 100px;
}

#footer img {
    width: 400px;
    margin-bottom: 50px;
}

#footer i {
    font-size: 30px;
    margin-right: 13px;
    margin-bottom: 25px;
    color: #F9BB3C;
}

#footer i:hover {
    transition: color 0.25s ease;
    color: #FFF;
}

#way-up {
    background-color: #DF4E5E;
    color: #FFF;
    border: none;
    padding: 5px 25px;
    border-radius: 5px;
    margin-bottom: 75px;
}

#way-up:hover {
    background-color: 0.25s ease;
    background-color: #35BAA4;
    transition: background-color 0.25s ease;
}
.faq {
  background-color: #35BAA4;
  color: white;
}

.question {
  margin-top: 10px;
  margin-left: 10px;
}

.questionright {
  margin-top: 10px;
  margin-right: 10px;
}
